.container   {

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(27,101,193,1) 75%, rgba(0,212,255,1) 100%);

}

h1{
  color: black;
  -webkit-text-stroke: 1px rgb(241, 237, 11);
  -webkit-text-fill-color: rgb(241, 237, 11);
}
p{
    color: black;
    -webkit-text-stroke: 1px rgb(241, 237, 11);
    -webkit-text-fill-color: rgb(241, 237, 11);
  }
  